body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #efeded;
}

.wraper {
    border: solid black;
}

.top {
    background-color: #2b2b2b;
    display: flex;
    height: 100px;
}

.logo{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 6%;
    color: white;
    font-size: large;
    font-weight: bold;
}

.yacht-pic{
    height: 30px;
    width: 70px;
}

.logo-text{
    margin-top: 20px;
    margin-left: 5px;
}

.links{
    width: 50%;
    display: flex;
    gap: 15%;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: larger;
}

.main-texts{
    display: flex;
}

.left-middle{
    width:60%;
}

.right-middle{
    width:40%;
    font-weight: 900;
    
}

.big-title{
    justify-content: center;
    align-items: center;
    font-size:140px;
    display: grid;
    padding-top: 7%;
}

.main-photo{
    width: 90%;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.big-title-item{
    height: 130px;
}
